<% content_for :meta_title, "#{@collection.title} | Collections | #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @collection.description %>
<% content_for :meta_image, cl_image_path(@collection.photo.key) %>

<div class="page-container">
  <div>
    <h1><%= @collection.title %></h1>
    <p class="lead"><%= @collection.description %></p>
  </div>
  <div class="filter-container">
    <%= form_with url: collection_path(@collection), method: :get do |f| %>
      <div class="filter-parameter-container">
        <div class="filter-type">
          <%= f.label :user_location, "Location", class: "filter-label" %>
          <%= f.select :user_location, options_for_select(@collection.artworks.joins(:user).pluck(:location).uniq, params[:user_location]), include_blank: "All" %>
        </div>
        <div class="filter-type">
          <%= f.label :price, class: "filter-label" %>
          <%= f.select :price, options_for_select([
            ['Under £100', '0,99'],
            ['£100 - £299', '100,299'],
            ['£300 - £499', '300,499'],
            ['£500 - £999', '500,999'],
            ['£1000 - £1,499', '1000,1499'],
            ['Over £1,500', '1500,999999999']
          ], (params[:price])), include_blank: "All" %>
        </div>
        <div class="filter-type">
          <%= f.label :size, class: "filter-label" %>
          <%= f.select :size, options_for_select(['small', 'medium', 'large'], params[:size]), include_blank: "All" %>
        </div>
        <div class="filter-type">
          <%= f.label :medium_ids, "Medium", class: "filter-label" %>
          <%= f.select :medium_ids, Medium.all.collect { |m| [m.medium, m.id] }, {}, { multiple: true, size: 1 } %>
        </div>
        <div class="filter-type">
          <%= f.submit "Filter", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
  <div>
    <div class="artwork-column-container">
      <% @columns.each do |column| %>
        <div class="column-flex">
        <%column.each do |artwork| %>
          <div class="artwork-card-body">
            <%= link_to artwork_path(artwork) do %>
              <%= cl_image_tag artwork.photo.key, width: 320, crop: :fill, class: "zoomable" %>
                <% if user_signed_in? %>
                  <div class="artwork-favorite">
                    <%= link_to toggle_favorite_artwork_path(artwork), remote: true, data: { turbo_method: :post } do %>
                      <div data-controller="toggle-favorite" data-toggle-favorite-artwork-id="<%= artwork.id %>">
                        <i class="fa-solid fa-heart <%= 'red' if current_user.favorited?(artwork) %>" data-action="click->toggle-favorite#toggleFavorite" data-toggle-favorite-target="favoriteIcon" data-id="<%= artwork.id %>"></i>
                      </div>
                    <% end %>
                  </div>
                <% end %>
              <p class="artist-name"><%= artwork.user.first_name %> <%= artwork.user.last_name %></p>
              <p class="artwork-title"><%= artwork.title %></p>
              <% if artwork.bids.exists? %>
                <p class="artwork-price"><%= number_to_currency(artwork.bids.maximum(:amount), unit: "£", precision: 0) %></p>
              <% else %>
                <p class="artwork-price"><%= number_to_currency(artwork.price, unit: "£", precision: 0) %></p>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
    </div>
  </div>
</div>
