<div class="container">
  <div class="card my-3 mx-auto" style="max-width: 48rem;">
    <div class="card-header">
      <p>Hey <%= @bid.user.first_name %>,</p>
      <h3><i class="fa-solid fa-check"></i> Your bid is confirmed!</h3>
      <p>You are currently the highest bidder on <%= @bid.artwork.title %>, <%= @bid.artwork.year.strftime("%Y")%>.</p>
    </div>
    <div class="row p-4 justify-content-between">
      <div class="col">
        <%= link_to artwork_path(@bid.artwork) do %>
          <%= cl_image_tag @bid.artwork.photo.key, width: 200, crop: :fill, class: "zoomable" %>
          <p><i class="fa-solid fa-arrow-left mt-3"></i> Back to artwork<p>
        <% end %>
      </div>
      <div class="col text-end">
        <p class="artist-name"><%= @bid.artwork.user.first_name %> <%= @bid.artwork.user.last_name %></p>
        <p class="artwork-title"><%= @bid.artwork.title %></p>
        <p class="lead">Amount bid: <%= number_to_currency(@bid.amount, unit: "£", precision: 0) %></p>
        <p><small class="text-muted"><%= render "shared/countdown", artwork: @bid.artwork %></small></p>
        <div class="d-flex justify-content-end">
          <button type="button" class="btn btn btn-outline-primary me-2" data-bs-toggle="modal" data-bs-target="#bidModal">Edit bid</button>
          <%= link_to "Delete bid", bid_path(@bid), class: "btn btn-primary me-0", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
        </div>
        <%= link_to user_path(current_user) do %>
            <p>Your profile <i class="fa-solid fa-arrow-right mt-3"></i><p>
          <% end %>
      </div>
    </div>
  </div>
  <div class="row p-4 gy-1" style="height: 400px;">
    <div class="col-sm-4">
      <%= link_to collection_path(@collection) do %>
        <div class="collection-card-small" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('<%= cl_image_path @collection.photo.key, crop: :fill %>')">
          <h2>Explore the collection</h2>
          <div class="text-content">
            <p class="lead"><%= @collection.title %></p>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-sm-4">
      <%= link_to @bid.artwork.user do %>
        <div class="collection-card-small" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('<%= cl_image_path @bid.artwork.user.photo.key, crop: :fill %>')">
          <h2>About the artist</h2>
          <div class="text-content">
            <p class="lead"><%= @bid.artwork.user.first_name %> <%= @bid.artwork.user.last_name %></p>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-sm-4">
      <%= link_to artwork_path(@artwork) do %>
        <div class="collection-card-small" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('<%= cl_image_path @artwork.photo.key, crop: :fill %>')">
          <h2>More by the artist</h2>
          <div class="text-content">
            <p class="lead"><%= @artwork.title %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= render 'shared/bid_modal', { artwork: @bid.artwork, bid: @bid } %>
