<div class="container">
  <div class="card w-50 mb-3 mx-auto">
    <div class="card-header">
      <p>Hey <%= @bid.user.first_name %>,</p>
      <h3><i class="fa-solid fa-check"></i> Your bid is confirmed!</h3>
      <p>You are currently the highest bidder on <%= @bid.artwork.title %>, <%= @bid.artwork.year.strftime("%Y")%>.</p>
    </div>
  <div class="row p-4 justify-content-between">
    <div class="col">
      <%= cl_image_tag @bid.artwork.photo.key, width: 200, crop: :fill, class: "zoomable" %>
    </div>
    <div class="col text-end">
      <p class="artist-name"><%= @bid.artwork.user.first_name %> <%= @bid.artwork.user.last_name %></p>
      <p class="artwork-title"><%= @bid.artwork.title %></p>
      <p>Amount bid: <%= number_to_currency(@bid.amount, unit: "£", precision: 0) %></p>
      <div class="d-flex justify-content-end">
        <%= link_to "Edit bid", edit_bid_path(@bid), class: "btn btn-outline-primary me-2" %>
        <%= link_to "Delete bid", bid_path(@bid), class: "btn btn-primary", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt-5">
  <div data-controller="hello">
    <h2>More by this artist</h2>
    <div class="slider-container">
      <h3><i class="fa-solid fa-arrow-left slider-arrow-previous" data-controller="hello" data-action="click->hello#previous"></i></h3>
      <div class="slider-inner-div">
        <% @artworks.each_with_index do |artwork, index| %>
          <div class="artwork-card-body" data-pos= "<%= index %>">
            <%= link_to artwork_path(artwork) do %>
              <%= cl_image_tag artwork.photo.key, width: 400, crop: :fill, class: "zoomable" %>
            <% end %>
          </div>
        <% end %>
        <h3><i class="fa-solid fa-arrow-right slider-arrow-next" data-controller="hello" data-action="click->hello#next"></i></h3>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt-5">
  <h2>Collections featuring this artwork</h2>
  <div class="slider-container">
    <div class="slider-inner-div">
      <% @collections.each do |collection| %>
        <div class="artwork-card-body">
          <%= link_to collection_path(collection) do %>
            <%= cl_image_tag collection.photo.key, width: 400, crop: :fill, class: "zoomable" %>
            <div class="artwork-card-info">
              <p class="artwork-title"><%= collection.title %></p>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
