<div>
  <div>
    <h1>Browse artworks</h1>
  </div>
  <div class="filter-container">
    <p>Filter by</p>
    <%= form_with url: artworks_path, method: :get do |f| %>
      <div class="filter-parameter-container">
        <div>
          <%= f.label(:user_location, "Location") %>
          <%= f.select(:user_location, options_for_select(Artwork.joins(:user).pluck(:location).uniq, params[:user_location]), include_blank: true) %>
        </div>
        <div>
          <%= f.label(:medium, "Medium:") %>
          <%= f.collection_check_boxes :medium_ids, Medium.all, :id, :medium %>
        </div>
        <div>
          <%= f.label(:price, 'Price:') %>
          <%= f.select(:price, options_for_select([
            ['Under £100', '0,99'],
            ['£100 - £299', '100,299'],
            ['£300 - £499', '300,499'],
            ['£500 - £999', '500,999'],
            ['£1000 - £1,499', '1000,1499'],
            ['Over £1,500', '1500,999999999']
          ], (params[:price])), include_blank: true) %>
        </div>
        <div>
          <%= f.label(:size, 'Size:') %>
          <%= f.select(:size, options_for_select(['small', 'medium', 'large'], params[:size]), include_blank: true) %>
        </div>
        <div>
          <%= f.submit "Filter", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
  <div>
    <% @columns.each do |column| %>
      <%column.each do |artwork| %>
        <%= cl_image_tag artwork.photo.key, width: 320, crop: :fill, class: "zoomable" %>
        <p class="artist-name"><%= artwork.user.first_name %><% artwork.user.last_name %></p>
      <% end %>
    <% end %>


    <%# <div class="artwork-card-flexbox">
      <% @artworks.each do |artwork| %>
        <%# <div class="artwork-card-body"> %>
          <%# <%= link_to artwork_path(artwork) do %>
              <%# <%= cl_image_tag artwork.photo.key, width: 320, crop: :fill, class: "zoomable" %>
              <%# <div class="artwork-card-info"> %>
                <%# <p class="artist-name"><%= artwork.user.first_name %>
                <%# <%= artwork.user.last_name</p> %>
                <%# <p class="artwork-title"><%= artwork.title</p> %>
                <%# <p class="artwork-price"><%= number_to_currency(artwork.price, unit: "£", precision: 0)</p> %>
              <%# </div> %>
          <%# <% end %>
        <%# </div> %>
      <%# <% end %>
    <%# </div> %>
  <%# </div/> %>
</div>
