<div class="row">
  <div class="col-7">
    <p><%= cl_image_tag @artwork.photo.key, height: 500, crop: :fill %>
  </div>
  <div class="col-5">
    <h2><%= @artwork.user.first_name %> <%= @artwork.user.last_name %></h2>
    <h3><%= @artwork.title %></h3>
    <p><%= @artwork.height %> x <%= @artwork.width %> cm</p>
    <p><%= @artwork.material %></p>

    <p>
      <% if @artwork.bids.exists? %>
        Current highest bid: <%= number_to_currency(@artwork.bids.maximum(:amount), unit: "£", precision: 0) %>
      <% else %>
        Starting price: <%= number_to_currency(@artwork.price, unit: "£", precision: 0) %>
      <% end %>
    </p>
    <p><%= @artwork.end_time %></p>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#bidModal">Place a bid</button>
    <%#= simple_form_for [@artwork, @bid] do |f| %>
      <%#= f.input :amount, input_html: { style: 'width: 300px;' } %>
      <%#= f.submit "Submit bid", class: "btn btn-primary" %>
    <%# end %>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="bidModal" tabindex="-1" aria-labelledby="bidModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="bidModalLabel">Place a bid</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= simple_form_for [@artwork, @bid] do |f| %>
          <div class="mb%>-3">
            <p>Highest bid:</p>
            <p class="lead"><%= number_to_currency(@artwork.bids.maximum(:amount), unit: "£", precision: 0) %></p>
          </div>
          <div class="mb-3">
            <%= f.input :amount, class: "col-form-label" %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <%= f.submit "Submit bid", class: "btn btn-primary" %>
        <% end %>
      </div>
     </div>
  </div>
</div>
