<div class="row">
  <div class="d-flex align-items-center">
    <div class="pe-2">
      <%= link_to :back do %>
          <i class="fa-solid fa-arrow-left fa-2x"></i>
      <% end %>
    </div>
    <div class="ps-2">
      <h2><em><%= @artwork.title %>, <%= @artwork.year.strftime("%Y")%></em></h2>
    </div>
  </div>
  <div class="col-8 d-flex justify-content-center">
    <%= cl_image_tag @artwork.photo.key, crop: :fill, style: "max-height: calc(80vh); max-width: 100%;" %>
  </div>
  <div class="col">
    <div class="d-flex align-items-center">
      <div class="p-2">
        <% if @artwork.user.photo.attached? %>
          <%= cl_image_tag @artwork.user.photo.key, width: 1000, height: 1000, crop: :thumb, gravity: :face, class: "avatar-smaller" %>
        <% else %>
          <%= image_tag "icon.svg", width: 1000, height: 1000, class: "avatar-smaller" %>
        <% end %>
      </div>
      <div class="p-2">
        <p><%= @artwork.user.nationality %>, b. <%= @artwork.user.date_of_birth.strftime("%Y") %><p>
        <p>Location: <%= @artwork.user.location %></p>
      </div>
    </div>
    <h2><%= link_to "#{@artwork.user.first_name} #{@artwork.user.last_name}",  @artwork.user, style: "text-decoration: none"%></h2>
    <h3><em><%= @artwork.title %>, <%= @artwork.year.strftime("%Y")%></em></h3>
    <p><%= @artwork.height %> x <%= @artwork.width %> cm, <%= @artwork.material %></p>
    <% if @artwork.end_time.future? %>
      <% if @artwork.bids.exists? %>
        <h4><small class="text-muted">Highest bid:</small>
        <%= number_to_currency(@artwork.bids.maximum(:amount), unit: "£", precision: 0) %></h4>
        <% if @artwork.bids.exists?(user: current_user) %>
          <h4><small class="text-muted">Your bid:</small>
          <%= number_to_currency(@bid.amount, unit: "£", precision: 0) %></h4>
          <button type="button" class="btn btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#bidModal">Edit bid</button>
          <%= link_to "Delete Bid", bid_path(@bid), class: "btn btn-primary", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
        <% else %>
          <button type="button" class="btn btn-primary mb-1" data-bs-toggle="modal" data-bs-target="#bidModal">Place a bid</button>
        <% end %>
      <% else %>
        <h4><small class="text-muted">Starting price:</small>
        <%= number_to_currency(@artwork.price, unit: "£", precision: 0) %></h4>
        <button type="button" class="btn btn-primary mb-1" data-bs-toggle="modal" data-bs-target="#bidModal">Place a bid</button>
      <% end %>
    <% end %>
    <h4><%= render "shared/countdown", artwork: @artwork %></h4>
  </div>
</div>

<%= render 'shared/bid_modal', { artwork: @artwork, bid: @bid } %>
