<div class="row">
  <div class="col-7">
    <%= cl_image_tag @artwork.photo.key, crop: :fill, style: "max-height: calc(80vh); max-width: 100%;" %>
  </div>
  <div class="col-5">
    <h2><%= @artwork.user.first_name %> <%= @artwork.user.last_name %></h2>
    <h3><em><%= @artwork.title %>, <%= @artwork.year.strftime("%Y")%></em></h3>
    <p><%= @artwork.material %></p>
    <p><%= @artwork.height %> x <%= @artwork.width %> cm</p>

    <h4>
      <% if @artwork.bids.exists? %>
        <%= number_to_currency(@artwork.bids.maximum(:amount), unit: "£", precision: 0) %> <small class="text-muted">(highest bid)</small>
      <% else %>
        <%= number_to_currency(@artwork.price, unit: "£", precision: 0) %> <small class="text-muted">(starting price)</small>
      <% end %>
    </h4>
      <button type="button" class="btn btn-primary mb-2" data-bs-toggle="modal" data-bs-target="#bidModal">Place a bid</button>
    <p>
      <% if @artwork.end_time.present? && @artwork.end_time.future? %>
        <% if @artwork.end_time.to_date == Time.zone.today %>
          <%= "Auction ends today at #{@artwork.end_time.strftime("%H:%M")}" %>
        <% else %>
          <%= "Auction ends at #{@artwork.end_time.strftime("%H:%M on %d %B")}" %>
        <% end %>
      <% end %>
    </p>
    <%#= simple_form_for [@artwork, @bid] do |f| %>
      <%#= f.input :amount, input_html: { style: 'width: 300px;' } %>
      <%#= f.submit "Submit bid", class: "btn btn-primary" %>
    <%# end %>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="bidModal" tabindex="-1" aria-labelledby="bidModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="bidModalLabel">Place a bid</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= simple_form_for [@artwork, @bid] do |f| %>
          <div class="mb%>-3">
            <p class="lead">Highest bid: <%= number_to_currency(@artwork.bids.maximum(:amount), unit: "£", precision: 0) %></p>
          </div>
          <div class="mb-3">
            <%= f.input :amount, class: "col-form-label" %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <%= f.submit "Submit bid", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
