<% content_for :meta_title, "#{@user.first_name} #{@user.last_name} | #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, "Explore #{@user.first_name}'s artwork on the world's largest community of independent artists" %>
<% content_for :meta_image, cl_image_path(@user.photo.key) %>

<div class="user-profile-card">
  <div class="flexbox">
    <div>
      <div class="user-profile-border">
        <% if @user.photo.attached? %>
          <%= cl_image_tag @user.photo.key, width: 800, height: 800, crop: :thumb, gravity: :face, class: "avatar-large" %>
        <% else %>
          <%= image_tag "icon.svg", width: 1000, height: 1000, class: "avatar-large" %>
        <% end %>
      </div>
      <% if @user.location.present? %>
        <div class = user-profile-info>
          <p><i class="fa-sharp fa-solid fa-location-dot"></i> <%= @user.location %></p>
          <p><%= @user.nationality %>, b. <%= @user.date_of_birth.strftime("%Y") %><p>
          <p><%= @user.degree %></p>
        </div>
      <% end %>
    </div>
    <div class="bio-container">
      <div class="bio-card">
        <h1><%= @user.first_name %> <%= @user.last_name %></h1>
        <p><%= @user.bio %></p>
      </div>
    </div>
  </div>
</div>

<% if @artworks.exists? %>
  <div data-controller="hello">
    <h2>Available artwork</h2>
    <div class="slider-container">
      <h3><i class="fa-solid fa-arrow-left slider-arrow-previous" data-controller="hello" data-action="click->hello#previous"></i></h3>
        <div class="slider-inner-div">
          <% @artworks.each_with_index do |artwork, index| %>
            <div class="artwork-card-body" data-pos= "<%= index %>">
              <%= link_to artwork_path(artwork) do %>
                  <%= cl_image_tag artwork.photo.key, width: 400, crop: :fill, class: "zoomable" %>
              <% end %>
            </div>
          <% end %>
      </div>
      <h3><i class="fa-solid fa-arrow-right slider-arrow-next" data-controller="hello" data-action="click->hello#next"></i></h3>
    </div>
  </div>
<% end %>

<% if @user == current_user %>
  <div class="row justify-content-evenly user-profile-border">
    <% if @bids.any? %>
      <h2>My bids</h2>
      <% @bids.each do |bid| %>
        <div class="col-md-5 p-3">
          <div class="card bid-card">
            <div class="row p-3 justify-content-between">
              <div class="col">
                <%= link_to artwork_path(bid.artwork) do %>
                  <%= cl_image_tag bid.artwork.photo.key, width: 200, crop: :fill, class: "zoomable" %>
                <% end %>
              </div>
              <div class="col text-end">
                <p class="artist-name"><%= bid.artwork.user.first_name %> <%= bid.artwork.user.last_name %></p>
                <p class="artwork-title"><%= bid.artwork.title %></p>
                <p>Your bid: <%= number_to_currency(bid.amount, unit: "£", precision: 0) %></p>
                <p><small class="text-muted"><%= render "shared/countdown", artwork: bid.artwork %></small></p>
                <% if bid.artwork.end_time.past? && bid.amount == bid.artwork.bids.maximum(:amount) %>
                  <p class="text-success">You have won the auction!</p>
                <% elsif bid.amount == bid.artwork.bids.maximum(:amount) %>
                  <p class="text-success">Your bid is the highest!</p>
                  <div class="d-flex justify-content-end">
                    <%= link_to "Edit bid", artwork_path(bid.artwork), class: "btn btn btn-outline-primary me-2" %>
                    <%= link_to "Delete bid", bid_path(bid), class: "btn btn-primary me-0", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
                  </div>
                <% else %>
                  <p class="text-danger">You have been outbid by <%= number_to_currency(bid.artwork.bids.maximum(:amount) - bid.amount, unit: "£", precision: 0) %>!</p>
                  <div class="d-flex justify-content-end">
                    <%= link_to "Edit bid", artwork_path(bid.artwork), class: "btn btn btn-outline-primary me-2" %>
                    <%= link_to "Delete bid", bid_path(bid), class: "btn btn-primary me-0", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="row justify-content-evenly user-profile-border" id="wishlist">
    <% if @favorite_artworks.any? %>
      <h2>My wishlist</h2>
      <% @favorite_artworks.each do |artwork| %>
        <div class="col-sm-3 p-3">
          <div class="card bid-card">
            <%= link_to artwork_path(artwork) do %>
              <%= cl_image_tag artwork.photo.key, height: 200, crop: :fill, class: "zoomable card-img-top" %>
            <% end %>
            <div class="card-body">
              <p class="text-danger"><%= render "shared/countdown", artwork: artwork %></small></p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
