<h1>Artist Show Page</h1>
<h2><%= @user.first_name %> <%= @user.last_name %>
<br><%= @user.nationality %>
<br><%= @user.date_of_birth%>
<br><%= @user.location %>
<br><%= @user.degree %>
<br> <%= @user.bio %></h2>
<br>
<% @artworks.each do |artwork| %>
  <%= link_to(artwork_path(artwork)) do %>
    <%= cl_image_tag artwork.photo.key, width: 400, height: 300, crop: :fill %>
    <h3><%#= artwork.title %></h3>
    <p><%#= artwork.price %></p>
  <% end %>
<% end %>






<%# needs user profile image %>
<%# needs user portfoilio %>
<%# needs past exhibitions %>
<%# needs user artworks - in grid format, slider if poss %>
