<nav class="navbar bg-body-tertiary fixed-top navbar-artichoke">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "logo.svg", alt: "Artichoke logo" %>
    <% end %>
    <div class="search-container">
      <%= form_with url: artworks_path, method: :get, class: "search-bar" do |f| %>
        <div class="search-input-container d-flex flex-row align-items-center">
          <button type="submit" class="search-button"><i class="fas fa-search"></i></button>
          <%= f.text_field :query, class: "form-control search-input", placeholder: "Discover artwork from independent artists" %>
        </div>
    <% end %>
    </div>
    <% if user_signed_in? %>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
        <div class="d-flex align-items-center">
          <%= image_tag "icon.svg", alt: "Artichoke icon", class: "navbar-icon me-2" %>
          <i class="fa-solid fa-bars icon-purple"></i>
        </div>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <%= link_to user_path(current_user) do %>
            <% if current_user.photo.attached? %>
              <%= cl_image_tag current_user.photo.key, width: 150, height: 150, crop: :thumb, gravity: :face, class: "avatar" %>
            <% else %>
              <%= image_tag "icon.svg", alt: "Artichoke icon", class: "navbar-icon me-2" %>
            <% end %>
          <% end %>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <%= link_to "Your account", user_path(current_user), class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "All artworks", artworks_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Collections", root_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Wishlist", "#{user_path(current_user)}#wishlist", class: "nav-link" %>
            </li>
            <li>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "nav-link" %>
            </li>
          </ul>
        </div>
      </div>
    <% else %>
      <div class="d-flex">
        <%= link_to "Log in", new_user_session_path, class: "btn btn-outline-primary me-2" %>
        <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</nav>
