<div class="navbar navbar-light navbar-artichoke">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag "logo.svg", alt: "Artichoke logo" %>
    <% end %>
    <%= form_with url: artworks_path, method: :get, class: "search-bar d-flex" do |f| %>
      <%= f.text_field :query, class: "form-control search-input", placeholder: "🔎 Discover artwork from independent artists" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto align-items-center">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Collections", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "All artworks", artworks_path, class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <% if current_user.photo.attached? %>
              <%= cl_image_tag current_user.photo.key, width: 150, height: 150, crop: :thumb, gravity: :face, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% else %>
              <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% end %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Account", user_path(current_user), class: "dropdown-item" %>
              <%= link_to "Wishlist", "#", class: "dropdown-item" %>
              <hr class="dropdown-divider">
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item d-flex">
            <%= link_to "Log in", new_user_session_path, class: "btn btn-outline-primary me-2" %>
            <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
