<div class="page-container" style="margin-bottom: 100px;">
  <div class="container">
    <div class="row pb-4 gy-1" style="height: 400px;">
      <% @collections[0..1].each_with_index do |collection, index| %>
        <div class="<%= index == 0 ? "col-sm-7" : "col-sm-5" %>">
          <%= link_to collection_path(collection) do %>
            <div class="<%= index == 0 ? "collection-card-big" : "collection-card-small" %>" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('<%= cl_image_path collection.photo.key, crop: :fill %>')">
              <h2><%= collection.title %></h2>
              <div class="text-content">
                <p><%= collection.description %></p>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="row gy-1" style="height: 400px;">
      <% @collections[2..3].each_with_index do |collection, index| %>
        <div class="<%= index == 0 ? "col-sm-5" : "col-sm-7" %>">
          <%= link_to collection_path(collection) do %>
            <div class="<%=index == 0 ? "collection-card-small" : "collection-card-big" %>" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('<%= cl_image_path collection.photo.key, crop: :fill %>')">
              <h2><%= collection.title %></h2>
              <div class="text-content">
                <p><%= collection.description %></p>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
